{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-3 text-center">Django App</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit et dolorum eum aspernatur, 
            autem nobis molestiae iure ratione cum laboriosam praesentium vitae, voluptatum quisquam sequi 
            nemo! sit amet consectetur adipisicing elit. Impedit et dolorum eum aspernatur, 
            autem nobis molestiae sit amet consectetur adipisicing elit. Impedit et dolorum eum aspernatur, 
            autem nobis molestiae</p>
        
            <div class="text-center">
            <a class="btn btn-primary" href="/signin">
                SignIn
            </a>
            <a class="btn btn-primary" href="/signup">
                SignUp
            </a>
        </div>

    </section>
</main>
    {% endblock %}

